* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

/* .custom-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
